ddpm:
  module: trainer
  source: DDPMTrainer
  args:
    prefix: notebooks
    model_type: sde
    img_size: 32
    in_channels: 1
    batch_size: 64
    shuffle: True
    save_freq: 50
    dataset_path: ./notebooks/data
    beta_min: 0.1
    beta_max: 1
    target_transform:
    download: True
    loader:
      module: loaders
      source: MNISTLoader
      call: False
cfg:
  module: trainer
  source: CFGTrainer
  args:
    prefix: args.prefix
    model_type: sde
    img_size: 32
    in_channels: 1
    batch_size: 64
    shuffle: True
    save_freq: 50
    dataset_path: args.dataset_path
    num_classes: 10
    beta_min: 0.1
    beta_max: 1
    target_transform:
    download: True
    loader:
      module: loaders
      source: MNISTLoader
      call: False
    fast_cfg: False
ldm:
  module: trainer
  source: LDMTrainer
  args:
    prefix: args.prefix
    model_type: sde
    img_size: 32
    in_channels: 1
    batch_size: 256
    shuffle: True
    save_freq: 50
    dataset_path: args.dataset_path
    beta_min: 0.1
    beta_max: 1
    num_classes: 10
    target_transform:
    download: True
    loader:
      module: loaders
      source: MNISTLoader
      call: False
    use_vae: False
