prefix: notebooks
dataset_path: ./notebooks/data
loader:
  module: loaders
  source: MNISTLoader
  call: False
ddpm:
  module: trainer
  source: DDPMTrainer
  args:
    model_type: sde
    img_size: 32
    in_channels: 1
    out_channels: 1
    batch_size: 64
    shuffle: True
    save_freq: 50
    beta_min: 0.1
    beta_max: 1
    target_transform:
    download: True
    prefix: .{prefix}
    dataset_path: .{dataset_path}
    loader: .{loader}
cfg:
  module: trainer
  source: CFGTrainer
  args:
    model_type: sde
    img_size: 32
    in_channels: 1
    out_channels: 1
    batch_size: 64
    shuffle: True
    save_freq: 50
    num_classes: 10
    beta_min: 0.1
    beta_max: 1
    target_transform:
    download: True
    fast_cfg: False
    prefix: .{prefix}
    dataset_path: .{dataset_path}
    loader: .{loader}
ldm:
  module: trainer
  source: LDMTrainer
  args:
    model_type: sde
    img_size: 32
    in_channels: 1
    batch_size: 256
    shuffle: True
    save_freq: 50
    beta_min: 0.1
    beta_max: 1
    num_classes: 10
    target_transform:
    download: True
    use_vae: False
    prefix: .{prefix}
    dataset_path: .{dataset_path}
    loader: .{loader}
