prefix: notebooks
dataset_path: ./notebooks/data
loader:
  module: loaders
  source: MNISTLoader
  call: False
vq:
  module: trainer
  source: VAETrainer
  args:
    model_type: vq
    img_size: 32
    in_channels: 1
    batch_size: 1024
    shuffle: True
    save_freq: 5
    target_transform:
    download: True
    prefix: .{prefix}
    dataset_path: .{dataset_path}
    loader: .{loader}
kl:
  module: trainer
  source: VAETrainer
  args:
    model_type: kl
    in_channels: 1
    disc_in_channels: 1
    hidden_dims: 4
    batch_size: 128
    shuffle: True
    save_freq: 5
    target_transform:
    download: True
    prefix: .{prefix}
    dataset_path: .{dataset_path}
    loader: .{loader}
